.venv
*.db

www/node_modules
www/.next

# Ambientes virtuais
venv/
api/venv/

# Configs locais
.env*
*.sqlite3

# Docker
*.tar
#Dockerfile.prod.*
docker-compose-prod.yml

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
www/out/
.env*
